[submodule "wordpair-generator"]
	path = wordpair-generator
	url = https://github.com/antoci-alin/wordpair-generator.git
[submodule "flutter-nested-navigation"]
	path = flutter-nested-navigation
	url = https://github.com/antoci-alin/flutter-nested-navigation.git
