[submodule "WordPair_Generator"]
	path = WordPair_Generator
	url = https://github.com/antoci-alin/WordPair_Generator.git
[submodule "flutter-nested-navigation"]
	path = flutter-nested-navigation
	url = https://github.com/antoci-alin/flutter-nested-navigation.git
